<h3>List your property today!</h3> 

<%= form_for @listing do |form| %>
	<p>Property description:  <%= form.text_field :description, placeholder: "Say a few words about your property" %></p>
	<p>Price per night:  <%= form.text_field :price, placeholder: "Price of renting your property per night" %></p>
	<p>Property area:  <%= form.text_field :area, placeholder: "Area of your property" %></p>
	<p>Property renting basis: <%= form.text_field :place_type, placeholder: "Entire Place/Private Room/Shared Room?" %></p>
	<p>Max no. of guests per night:  <%= form.text_field :up_to_guests_num, placeholder: "Max number of guests per night" %></p>
	<p>Property type:  <%= form.text_field :house_type, placeholder: "Property type: either a house/apartment/cabin etc" %></p><br />
	<p>No. of bedrooms:  <%= form.text_field :bedrooms_num, placeholder: "Number of bedrooms in the property" %></p>
	<p>No. of beds:  <%= form.text_field :beds_num, placeholder: "Number of beds in the property" %></p>
	<p>No. of bathrooms:  <%= form.text_field :bathrooms_num, placeholder: "Number of bathrooms in the property" %></p><br />
	<p>Property number and Street address:  <%= form.text_field :address, placeholder: "Your property's number and street name" %></p>
	<p>Zipcode:  <%= form.text_field :zipcode, placeholder: "Your property's zipcode" %></p>
	<p>City:  <%= form.text_field :city, placeholder: "City where your property resides" %></p>
	<p>State:  <%= form.text_field :state, placeholder: "State where your property resides" %></p>
	<p>Country:  <%= form.text_field :country, placeholder: "Country where your property resides" %></p><br />

	<%= form.label :amenities %> :<br />
	Essentials (Towels, bed sheets, soap, toilet paper and pillows)
	<%= form.check_box :amenities, {multiple: true}, "Essentials", nil %><br />
	Wifi <%= form.check_box :amenities, {multiple: true}, "Wifi", nil %><br />
	TV <%= form.check_box :amenities, {multiple: true}, "TV", nil %><br />
	Heating <%= form.check_box :amenities, {multiple: true}, "Heating", nil %><br />
	Aircon <%= form.check_box :amenities, {multiple: true}, "Aircon", nil %><br />
	Smoking Allowed <%= form.check_box :amenities, {multiple: true}, "Smoking Allowed", nil %><br />
	Pets Allowed <%= form.check_box :amenities, {multiple: true}, "Pets Allowed", nil %><br />

	<br />
	<p>Upload photos of your property: <%= form.file_field :galleries, multiple: true %></p>
	
	
	<%= form.submit %>
<% end %>


    
    
    