<!-- To think how to allow this only is no reservations during duration -->
<!-- Hacking my way -->
<!-- <button><#%= link_to 'Book now!', new_reservation_path + "?id=#{@listing.id}", method: :get %></button> -->

<!-- Using nested routes -->
<button><%= link_to 'Book now!',  new_listing_reservations_path(@listing.id), method: :get %></button>

<!-- This runs if listing has been verified -->
<% if @listing.verification == true %>
	<h3>This listing has been VERIFIED.</h3>
<% end %>
<br />

<h5>Listing ID #: <%= @listing.id %></h5>
<h3>Area: <%= @listing.area %></h3>
<p>Property description: <%= @listing.description %></p>
<p>Price per night: <%= @listing.price %></p><br />

<p>Property renting basis: <%= @listing.place_type %></p>
<p>Max guests: <%= @listing.up_to_guests_num %></p>
<p>No. of bedrooms: <%= @listing.bedrooms_num %></p>
<p>No. of beds: <%= @listing.beds_num %></p>
<p>No. of bathrooms: <%= @listing.bathrooms_num %></p>

<p>Amenities: </p>
<% @listing.amenities.each do |a| %>
<li><%= a %></li>
<% end %>

<p><strong>Images:</strong>

<!-- <#%= form_for @listing, html: { multipart: true } do |f| %>
  <p><#%= image_tag(@listing.galleries[0].url) if @listing.galleries? %></p>
<#% end %> -->

<% @listing.galleries.each do |gallery| %>
<img class="gallery-images" src="<%= gallery %>">
<% end %>


<br />
<!-- This runs if listing has not been verified & the current user is moderator/admin-->
<% if (current_user.moderator? || current_user.admin?) && (@listing.verification == false || @listing.verification == nil) %>
			<button><%= link_to 'Verify Listing', verify_path, 
                             method: :patch, 
                             data: { confirm: 'Are you sure you want to verify listing?' } %></button>
<% end %>
<hr />


<!-- Set condition so that only the user can edit or delete their own listings -->
<% if @listing.user_id == current_user.id %>
	<h3>Had a recent property renovation? Able to accept more guests? Change in prices? Edit this listing.</h3>
	<h6>Note: You cannot edit the area and address of property. Go to new listing to list a new property.</h6>
	<br />
	<%= form_for @listing do |form| %>
		<p>Property description:  <%= form.text_field :description, placeholder: "Say a few words about your property" %></p>
		<p>Price per night:  <%= form.text_field :price, placeholder: "Price of renting your property per night" %></p>
		<p>Property renting basis: <%= form.text_field :place_type, placeholder: "Entire Place/Private Room/Shared Room?" %></p>
		<p>Max no. of guests per night:  <%= form.text_field :up_to_guests_num, placeholder: "Max number of guests per night" %></p>
		<p>No. of bedrooms:  <%= form.text_field :bedrooms_num, placeholder: "Number of bedrooms in the property" %></p>
		<p>No. of beds:  <%= form.text_field :beds_num, placeholder: "Number of beds in the property" %></p>
		<p>No. of bathrooms:  <%= form.text_field :bathrooms_num, placeholder: "Number of bathrooms in the property" %></p>
		<p>Upload photos of your property: <%= form.file_field :galleries, multiple: true %></p>
	
		<%= form.submit %>
	<% end %>

	<br />
	<h4>No longer listing the property? Delete this listing.</h4>
	
	<button><%= link_to 'Delete Listing', listing_path, 
                             method: :delete, 
                             data: { confirm: 'Are you sure you want to delete listing?' } %></button>
	
<% end %>


