<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="text-field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="gender-field">
  <%= form.label :gender %>
  <%= form.text_field :gender %>
</div>

<div class="age-field">
  <%= form.label :age %>
  <%= form.text_field :age %>
</div>
