<h6>Profile ID #: <%= @user.id %></h6>
<h5>Welcome, <%= @user.first_name %> <%= @user.last_name %>!</h5>


<div class = "gallery-images">
	<%= image_tag @user.profilepic_url.to_s %>
</div>

<% if @user.id == current_user.id %>
	<h4>Your list of reservations</h4>
	
	<% @user.reservations.each do |reservation| %>
		Check in:  <%= reservation.start_date %>, Check out: <%= reservation.end_date %><br />
		City: <%= reservation.listing.city %><br />
		Total paid: <%= reservation.total %><br /><br />
	<% end %>
<% end %>





