<h2>Welcome to Airbnb</h2>

<p>Start travelling or</p> 
<p><a href = 'listings/new' >Start hosting</a></p>

<hr />

<h2>Check out recent listings!</h2>
<br />

<table>
	<thead>
		<tr>
			<th>No.</th>
			<th>Area</th>
			<th>Description</th>
			<th>Link</th>
		</tr>
	</thead>

	<tbody>
		<% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
    		<% x = 0 %>
  		<% else %>
     		<% page = params[:page].to_i - 1 %>
    		<% x = page * 10 %>
    	<% end %>

		<% @listing = Listing.page(params[:page]).per(10) %>
		<% @listing.order(:area).each_with_index do |list, index| %>
		
			<tr>
				<td><%= index = x += 1 %></td>
				<td><%= list.area %></td>
				<td><%= list.description %></td>
				<td><a href = 'listings/<%= list.id %>' >Find out more!</a></td>
			</tr>
		<% end %>

	</tbody>
</table>
<%= paginate @listing, theme: 'twitter-bootstrap-4' %>