<header class="jumbotron section section-first bg-overlay-parent" id="airbnb-header">
	<div class="bg-overlay bg-base02-trans">
		<div class="bg-overlay-contents">
          <div class="container">
            
              <article class="col-sm-10 offset-sm-1 text-center">
                <h1 class="text-uppercase text-white">Welcome to Airbnb</h1>
                <p class="text-subheading text-white">Some cities never sleep<br>But you still need to</p>
                <button type="button" class="btn btn-primary btn-lg"><a href = 'listings/new' style="text-decoration: none; color: white">Start Hosting</a></button>
                <button type="button" class="btn btn-primary btn-lg">Start Travelling</button>
              </article>
            
          </div>
        </div>
	</div>
</header>


<h2>Check out recent listings!</h2>
<br />

<table>
	<thead>
		<tr>
			<th>No.</th>
			<th>Area</th>
			<th>Description</th>
			<th>Link</th>
		</tr>
	</thead>

	<tbody>
		<% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
    		<% x = 0 %>
  		<% else %>
     		<% page = params[:page].to_i - 1 %>
    		<% x = page * 10 %>
    	<% end %>

		<% @listing = Listing.page(params[:page]).per(10) %>
		<% @listing.order(:area).each_with_index do |list, index| %>
		
			<tr>
				<td><%= index = x += 1 %></td>
				<td><%= list.area %></td>
				<td><%= list.description %></td>
				<td><a href = 'listings/<%= list.id %>' >Find out more!</a></td>
			</tr>
		<% end %>

	</tbody>
</table>
<%= paginate @listing, theme: 'twitter-bootstrap-4' %>


<!-- <div class="jumbotron text-center p-1">
<div id="carousel" class="carousel slide p-1" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://images.pexels.com/photos/271743/pexels-photo-271743.jpeg?auto=compress&cs=tinysrgb&h=350" width = 100% height = auto >
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.pexels.com/photos/4217/hotel-bed-bedroom-room.jpg?auto=compress&cs=tinysrgb&h=350" width = 100% height = auto>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.pexels.com/photos/271643/pexels-photo-271643.jpeg?auto=compress&cs=tinysrgb&h=350" width = 100% height = auto>
    </div>
  </div>
</div>
</div> -->