<header class="jumbotron section section-first bg-overlay-parent" id="airbnb-header">
	<div class="bg-overlay bg-base02-trans">
		<div class="bg-overlay-contents">
          <div class="container">
            
              <article class="col-sm-10 offset-sm-1 text-center">
                <h1 class="text-uppercase text-white">Welcome to Airbnb</h1>
                <p class="text-subheading text-white">Some cities never sleep<br>But you still need to</p>
                <button type="button" class="btn btn-primary btn-lg"><a href = 'listings/new' style="text-decoration: none; color: white">Start Hosting</a></button><br />
              </article>
            
          </div>
        </div>
	</div>
</header>

<div class="text-center">
<h3>Narrow your search:</h3>

<%= form_tag(search_path, method: :post) do %>
  <p>City: <%= text_field_tag :city_search, params[:city_search], list:"cities" %></p>
  <datalist id="cities"></datalist>

  <p>Min Price: <%= text_field_tag :min_price, params[:min_price] %> Max Price: <%= text_field_tag :max_price, params[:max_price] %></p>
  
  <p>
    No. of bedrooms: <%= text_field_tag :bedrooms_search, params[:bedrooms_search] %> No. of bathrooms: <%= text_field_tag :bathrooms_search, params[:bathrooms_search] %>
  </p>

  <p>
     Amenities: <!-- Still not working, to fix later -->
     Essentials: <%= check_box_tag('amenities[]', value = 'Essentials', nil, {multiple: true}) %>
     Wifi: <%= check_box_tag('amenities[]', value = 'Wifi', nil, {multiple: true}) %>
     TV: <%= check_box_tag('amenities[]', value = 'TV', nil, {multiple: true}) %>
     Heating: <%= check_box_tag('amenities[]', value = 'Heating', nil, {multiple: true}) %>
  </p>

  <%= submit_tag 'Filter Results', name: nil, :class => "btn btn-warning btn-lg text-dark" %>
<% end %>
</div>

<br />

<div id="results">
<!-- :'data-update-target' => 'results' -->
</div>

<h2 class="text-center">Check out recent listings!</h2>
<br />

<div class="row text-center">
<% @listing = Listing.page(params[:page]).per(9) %>
<% @listing.order(:area).each_with_index do |list, index| %>
    <div class="col-sm-4">
        <div class="card my-3">
          <div class="card-header"><img style = "width:100%; height:auto;" src=<%= list.galleries[0] %> /></div>
            <div class="card-body">
              <p>Area: <%= list.area %> &bull; Price: <%= list.price %></p>
              <p>Description: <%= list.description %></p>
            </div>
       <div class="card-footer bg-warning"><a href = 'listings/<%= list.id %>' >Find out more!</a></div>
        </div>
    </div>
    <% end %>
</div>
<%= paginate @listing, theme: 'twitter-bootstrap-4' %>

<!-- The form -->
<!-- <table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Area</th>
      <th>Description</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody> -->
    <!-- <#% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
        <#% x = 0 %>
      <#% else %>
        <#% page = params[:page].to_i - 1 %>
        <#% x = page * 10 %>
      <#% end %>

    
    <#% @listing.order(:area).each_with_index do |list, index| %>
    
      <tr>
        <td><#%= index = x += 1 %></td>
        <td><#%= list.area %></td>
        <td><#%= list.description %></td>
        <td><a href = 'listings/<#%= list.id %>' >Find out more!</a></td>
      </tr>
    <#% end %>

  </tbody>
</table> -->