<br />
<%= form_for [@listing, @reservation], :url => listing_reservations_path, :html => {:multipart => true} do |form| %>
	<div class="text-field">
  		<%= form.label :check_in %>
  		<%= form.text_field :start_date, id: "datepicker1", width: 276, height: 100 %>
	</div><br />

	<div class="text-field">
  		<%= form.label :check_out %>
  		<%= form.text_field :end_date, id: "datepicker2", width: 276, height: 100 %>
	</div>

	<br />

	<%= form.hidden_field :listing_id, value: "#{@listing.id}" %>
	<%= form.hidden_field :price, value: "#{@listing.price}" %>

  <%= form.submit %>

  <!-- <input type="text" data-provide='datepicker' > -->
	<!-- <p>
   <#%= form.label :check_in %><br>
   <#%= form.date_field :start_date, id: "datepicker1", width: 276 %>
 	</p>

	<p>
   <#%= form.label :check_out %><br>
   <#%= form.date_field :end_date, id: "datepicker2", width: 276  %>
 	</p> -->
 <% end %>


<!-- This for should bring you to the payment page -->

<!-- <#%= form_tag(new_reservation_payment_path(reservation_id: reservation.id), method: :get) do %>
  <#%= submit_tag 'Make payment' %>  -->
<!-- <#% end %> -->
	



 <script type="text/javascript">
 var noDates = ["14/07/2018","15/07/2018"]
       $('#datepicker1').datepicker({
           format: 'dd/mm/yyyy',
           uiLibrary: 'bootstrap4',
           // allowInputToggle: true,
           // disabledDates: noDates
           
       });

       $('#datepicker2').datepicker({
           format: 'dd/mm/yyyy',
           uiLibrary: 'bootstrap4'
       });

</script>

<!-- <script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script> -->
<!-- //= require bootstrap-datepicker -->

