<%= form_for [@listing, @reservation], :url => listing_reservations_path, :html => {:multipart => true} do |form| %>
	<div class="text-field">
  		<%= form.label :check_in %>
  		<%= form.date_field :start_date %>
	</div>

	<div class="text-field">
  		<%= form.label :check_out %>
  		<%= form.date_field :end_date %>
	</div>

	<%= form.hidden_field :listing_id, value: "#{@listing.id}" %>
	<%= form.hidden_field :price, value: "#{@listing.price}" %>

	<%= form.submit %>

 <% end %>

